# Node / React Native
node_modules/
mobile/node_modules/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
